.before-look {}

.before-look__img {}

.before-look__paragraph:not(:last-child) {
    margin-bottom: 33px;
}

.before-look__title {
    font-size: 22px;
    line-height: 33px;
    font-weight: 700;
    font-family: "Arial";
}