.everyday-care {}

.everyday-care__img {
    margin-bottom: 50px;
}

.everyday-care__paragraph:not(:last-child) {
    margin-bottom: 33px;
}

.everyday-care__title {
    font-size: 22px;
    line-height: 33px;
    font-weight: 700;
    font-family: "Arial";
}