@font-face {
    font-family: 'Lato';
    src: local('lato-bold'), local('lato bold'), url(/fonts/lato-bold.woff) format("woff"),
        url(/fonts/lato-bold.woff2) format("woff2");
    font-weight: 700;
}

@font-face {
    font-family: 'Lato';
    src: local('lato-regular'), local('lato regular'), url(/fonts/lato-regular.woff) format("woff"),
        url(/fonts/lato-regular.woff2) format("woff2");
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 22px;
    color: #525252;
}

h1,
h2,
h3,
p {
    margin: 0;
}

.container {
    max-width: 1920px;
    padding: 100px 30px;
    margin: 0 auto;
}

.sub-title {
    font-size: 22px;
    line-height: 33px;
    font-weight: 700;
    font-family: "Arial";
}

.paragraph:not(:last-child) {
    margin-bottom: 33px;
}